@keyframes backgroundScroll {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000000000px 0; } }
@font-face {
  font-family: candy;
  src: url(fonts/candycutes.ttf); }
.about-us {
  position: absolute;
  background: #d3eef7;
  padding-top: 10vh;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .about-us nav {
    position: absolute;
    top: 0; }
  @media (max-width: 700px) {
    .about-us {
      height: auto;
      padding-top: 90px; } }

.teammate {
  border: 2px dashed salmon;
  border-radius: 20px;
  position: relative;
  background: lightyellow;
  width: 70vw;
  height: auto;
  margin: 15px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  max-width: 700px; }
  .teammate .pic {
    border: 2px dashed salmon;
    border-radius: 20px;
    margin: 2px 10px;
    background: lightgray;
    height: 120px;
    width: 120px; }
  .teammate .bio {
    border: 2px dashed salmon;
    border-radius: 20px;
    margin: 2px 10px;
    background: #cef1ce;
    color: salmon;
    width: 45%;
    padding: 2%; }

.teammate:nth-child(even) {
  flex-direction: row-reverse; }

.hidden {
  display: none; }

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.menu {
  padding: 15px; }

.species {
  display: inline-flex;
  justify-content: space-evenly;
  width: 60%; }
  .species a {
    display: inline-block;
    position: relative; }
    .species a:hover {
      background-color: rgba(209, 66, 41, 0.3); }
    .species a [class*='color-menu-'] {
      position: absolute;
      display: none;
      border: 1px solid black;
      min-width: 100px;
      margin-right: 25px;
      justify-content: space-around; }
      .species a [class*='color-menu-'] * {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 2px 5px; }
      .species a [class*='color-menu-'] .orange {
        background: orange; }
      .species a [class*='color-menu-'] .grey {
        background: grey; }
      .species a [class*='color-menu-'] .green {
        background: green; }
      .species a [class*='color-menu-'] .blue {
        background: blue; }

section#main canvas#canvas {
  height: 600px;
  width: 450px; }

.hidden {
  display: none; }

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.menu {
  padding: 15px; }

.species {
  display: inline-flex;
  justify-content: space-evenly;
  width: 60%; }
  .species a {
    display: inline-block;
    position: relative; }
    .species a:hover {
      background-color: rgba(209, 66, 41, 0.3); }
    .species a [class*='color-menu-'] {
      position: absolute;
      display: none;
      border: 1px solid black;
      min-width: 100px;
      margin-right: 25px;
      justify-content: space-around; }
      .species a [class*='color-menu-'] * {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 2px 5px; }
      .species a [class*='color-menu-'] .orange {
        background: orange; }
      .species a [class*='color-menu-'] .grey {
        background: grey; }
      .species a [class*='color-menu-'] .green {
        background: green; }
      .species a [class*='color-menu-'] .blue {
        background: blue; }

section#main canvas#canvas {
  height: 600px;
  width: 450px; }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-family: candy;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: salmon; }
  a:hover {
    color: lightyellow; }

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: salmon;
  z-index: 10;
  text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white;
  font-weight: bolder; }

.logo {
  margin-left: 50px; }

.customizer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: lightyellow;
  width: 65%;
  height: auto; }
  .customizer img, .customizer svg {
    max-width: 25px;
    height: auto; }
  .customizer .character-picker {
    background: #cef1ce; }
    .customizer .character-picker .color-picker {
      background: gray;
      width: 100%;
      height: 100px; }
  .customizer .character-display {
    background: #d3eef7; }
  .customizer .menu {
    border: 2px dashed salmon;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }

.dynastid-link {
  position: absolute;
  top: 30px;
  left: 180px;
  z-index: 5; }
  .dynastid-link img {
    max-width: 50px;
    height: auto; }
  .dynastid-link .dynastid {
    transform: rotate(-33.2deg); }

/*# sourceMappingURL=main.css.map */
