@import
      "abstracts/modules",
      "base/modules",
      "components/modules",
      "layout/modules",
      "layout/body",
      "abstracts/mixins";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: honey;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  background-image: url(../png/animalcrossingbackground.png);
  background-repeat: repeat-x;
  animation: backgroundScroll 37000s linear infinite;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $color1;
  &:hover {
    color: $color4;
  }
}

audio {
  display: none;
}


nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: $color1;
  z-index: 10;
  font-weight: bolder;
  img {
    width: 150px;
    height: auto;
    z-index: 15;
  }
}

.logo {
  margin-left: 50px;
}

.customizer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  height: auto;
  margin-top: 50px;
  border-radius: 25px;
  img, svg {
    // max-width: 25px;
    height: auto;
  }
  .character-picker {
    background: $color3;
    .color-picker {
      background: gray;
      width: 100%;
      height: 100px;
    }
  }

  .character-display {
    position: relative;
    display: block;
    height: 600px;
    width: 650px;
    background: $color4;
    border: 25px solid transparent;
    border-radius: 20px;
    border-image: url("../png/border.png") 25% repeat;
     canvas {
      position: absolute;
      #canvas {
        z-index: 1;
      }
      #eye {
        z-index: 2;
      }
      #mouth {
        z-index: 3;
      }
      #nose {
        z-index: 4;
      }
    }
  }

  .menu {
    border: 2px dashed salmon;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color4;
    border-radius: 25px;
    border: 20px solid transparent;
    border-image: url("../png/border.png") 25% repeat;
    .tab-menu {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      label {
        background: green;
        border: 1px solid #ddd;
        color: white;
        padding: .7em 1em;
        cursor: pointer;
        z-index: 1;
        margin-left: -1px;
        &:first-of-type {
          margin-left: 0;
        }
      }
      .eyes, .nose, .mouth, .shirts {
        width: 100%;
        margin-top: -1px;
        padding-left: 5px;
        order: 1;
        img {
          width: 150px;
          padding: 30px;
        }
      }
    }
  }
}
input[type=radio], .eyes, .nose, .mouth, .shirts{
  display: none;
}
input[type=radio]:checked + label {
  background: #fff;
  border-bottom: 1px solid #fff;
}
input[type=radio]:checked + label + div {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 203px;
}

.dynastid-link {
  position: absolute;
  top: 30px;
  left: 180px;
  z-index: 5;
  img {
    max-width: 50px;
    height: auto;
  }
  .dynastid {
    transform: rotate(-33.2deg);
    &:hover {
      animation: dynastid .5s infinite;
    }
  }
}
