.about-us {
  position: absolute;
  background: $color2;
  padding-top: 10vh;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  nav {
    position: absolute;
    top: 0;
  }
  @media #{$mobile} {
    height: auto;
    padding-top: 90px;
  }
}

.teammate {
  border: 2px dashed $color1;
  border-radius: 20px;
  position: relative;
  background: $color4;
  width: 70vw;
  height: auto;
  margin: 15px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  max-width: 700px;

  .pic {
    border: 2px dashed $color1;
    border-radius: 20px;
    margin: 2px 10px;
    background: lightgray;
    height: 120px;
    width: 120px;
  }
  .bio {
    border: 2px dashed $color1;
    border-radius: 20px;
    margin: 2px 10px;
    background: $color3;
    color: $color1;
    width: 45%;
    padding: 2%;
  }
}

.teammate:nth-child(even) {
  flex-direction: row-reverse;
}
