.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.menu {
  padding: 15px;
}

.species {
  &ul {
    list-style: none;
  }
  &li {
    display: inline-block;
  }
  & li:hover {
    background-color: red;
  }
}
