.hidden {
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.menu {
  padding: 15px;
}

.species {
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 30px;
  a {
    display: inline-block;
    position: relative;
    // padding: 0 20%;
    &:hover {
      background-color: rgba(209, 66, 41, .3);
    }
    .color-menu {
      position: absolute;
      border: 1px solid black;
      min-width: 100px;
      display: inline-flex;
      justify-content: space-around;
      * {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 2px 5px;
      }
      .orange {
        background: orange;
      }
      .grey {
        background: grey;
      }
      .green {
        background: green;
      }
      .blue {
        background: blue;
      }
    }
  }
}

section#main {
  canvas#canvas {
    height: 600px;
    width: 450px;
  }
}
