#capture {
  &:hover {
  cursor: pointer;
  }
  &:active {
    transform: scale(0.75);
  }
}

@mixin button {
  &:hover {
  cursor: pointer;
  }
  &:active {
    transform: scale(0.75);
  }
}

#play-again {
  width: 130px;
  transform: scale(0);
  animation: grow 300ms ease-in-out forwards;
  animation-delay: 3s;

  &:hover {
  cursor: pointer;
  }

  &:active {
    transform: scale(0.75);
    animation: none;
    animation-delay: none;
  }
}
