@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    // background-position: 100% 0;
    background-position: -1500000px 0;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dynastid {
    0% {
      transform: rotate(-33.2deg);
      animation-timing-function: ease-in;
    }
    30% {
      transform: rotate(-38deg);
      animation-timing-function: ease-out;
    }
    50% {
      transform: rotate(-42deg);
      animation-timing-function: ease-out;
    }
    80% {
      transform: rotate(-38deg);
      animation-timing-function: ease-out;
    }
    100% {
      transform: rotate(-33.2deg);
      animation-timing-function: ease-out;
    }
  }

@keyframes slide-out {
      0% { transform: translateX(0%);}
      100% { transform: translateX(-100%); display: none; }
}

@keyframes slide-up {
      0% { transform: translateY(0%);}
      100% { transform: translateY(-75%);}
}

@keyframes slide {
  0% { top: -100%; }
  25% { top: -50%; opacity: 0.2;}
  50% { top: 0%; opacity: .5; }
  75% { top: 45%; opacity: .7; }
  100% { top: 90%; display: inline-flex; opacity: 1;}
}

// .opening {
//   animation: bounceIn 1s linear;
//   z-index: 20px;
//   display: flex;
//   align-content: center;
//   justify-content: center;
//   height: 100%;
//   width: 100%;
//   img {
//     width: 1000px;
//     height: 800px;
//   }
// }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
