@keyframes backgroundScroll {
  from {background-position: 0 0;} to {background-position: -10000000000px 0;}
}

@keyframes dynastid {
  0% {

  }
  100% {

  }
}

@keyframes slide {
  0% { top: -100%; }
  25% { top: -50%; opacity: 0.2;}
  50% { top: 0%; opacity: .5; }
  75% { top: 45%; opacity: .7; }
  100% { top: 90%; display: inline-flex; opacity: 1;}
}
