@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    // background-position: 100% 0;
    background-position: -1500000px 0;
  }
}

@keyframes dynastid {
    0% {
      transform: rotate(-33.2deg);
      animation-timing-function: ease-in;
    }
    30% {
      transform: rotate(-38deg);
      animation-timing-function: ease-out;
    }
    50% {
      transform: rotate(-42deg);
      animation-timing-function: ease-out;
    }
    80% {
      transform: rotate(-38deg);
      animation-timing-function: ease-out;
    }
    100% {
      transform: rotate(-33.2deg);
      animation-timing-function: ease-out;
    }
  }

@keyframes slide {
  0% { top: -100%; }
  25% { top: -50%; opacity: 0.2;}
  50% { top: 0%; opacity: .5; }
  75% { top: 45%; opacity: .7; }
  100% { top: 90%; display: inline-flex; opacity: 1;}
}
